html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #f5f5f5;
  padding: 50;
}

a {
  color: #00B7FF;
}

#map_container {
  position:relative;
  margin:auto;
  height:100%;
  width:100%;
}

#route_container {
  position: absolute;
  width: 400px;
  height: 100%;
  top:0;
  right:0;
  background-color: #eee;
}
