html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #f5f5f5;
  padding: 50;
}

a {
  color: #00B7FF;
}

#map_container {
  position:relative;
  margin:auto;
  height:100%;
  width:100%;
}

.route_container {
  position: absolute;
  width: 400px;
  height: 100%;
  top:0;
  right:-400px;
  background-color: #eee;
}

.route_container .header {
  text-align: left;
  padding: 15px;
  height:56px;
  background-color: #333;
  width:100%;
  color: #eee;
}

.logo {
  width: 35px;
}
