extends header

block content
  #map_container
  #route_container
  script(src="/javascripts/dashboard.js")
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzaieIWmZLqo3wQ00iTSWuz56qQ4D_cc&callback=initMap', async, defer)
