extends header

block content
  #map_container
  each route in routes
      div.route_container(id=route._id)
          .header
              h5 #{route.name}
  script(src="/javascripts/dashboard.js" routes=routes)
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCQzaieIWmZLqo3wQ00iTSWuz56qQ4D_cc&callback=initMap', async, defer)
