doctype html
html
  head
    title Finland Forests
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    link(rel='canonical', href='https://getbootstrap.com/docs/4.3/examples/sign-in/')
    script(src="/javascripts/jquery-3.3.1.js")
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/toggle.css')

    block head
    
  body.text-center
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      img.logo(src='/images/tree_logo.svg')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto(style="margin-left:10px;")
          li.nav-item.active
            a.nav-link(href='#') Map
          li.nav-item
            a.nav-link(href='#') Routes
          li.nav-item
            a.nav-link(href='#') Alerts


    block content
