doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    link(rel='canonical', href='https://getbootstrap.com/docs/4.3/examples/sign-in/')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/signin.css')
    
  body.text-center
    block content
